$color_transparent: transparent;
$color_white: white;
$color_gray_very_light: #F8F8F8;
$color_gray_light_mid: #E2E2E2;
$color_gray_light: #C3C0C0;
$color_gray_mid: #808080;
$color_gray_dark: #282828;
$color_gray_dark_mid: #1F2020;
$color_gray_dark_high: #141515;
$color_gray_dark_very: #101111;
$color_black: black;
$color_red_light: #FD0000;
$color_red_mid: #AF0000;
$color_red_mid_dark: #4B0000;
$color_red_dark: #3F0000;
$color_green_light: #008000;
$color_green_dark: #005600;
$color_orange_light: #FFA500;
$color_orange_dark: #C98200;
$color_blue_light_very: #7FDBFF;
$color_blue_light: #1E90FF;
$color_blue_mid: #0E5AA3;
$color_blue_dark: #14568F;
$color_blue_dark_high: #0F487A;
$color_blue_dark_very: #001F3F;
$color_blue_dark_extra: #001224;