// Font Sizes
$font_size_h1: 5.2rem;
$font_size_h2: 4.4rem;
$font_size_h3: 3.6rem;
$font_size_h4: 3rem;
$font_size_h5: 2.4rem;
$font_size_h6: 2rem;
$font_size_body_1: 1.6rem;
$font_size_body_2: 1.4rem; // Buttons Labels
$font_size_caption: 1.2rem; // Overline
$line_height_multiplier: 1.45;

// Font Size with Line Height
.fs_h1 {
    font-size: $font_size_h1;
    line-height: calc(#{$font_size_h1} * #{$line_height_multiplier});
    letter-spacing: 0.25px;
}

.fs_h2 {
    font-size: $font_size_h2;
    line-height: calc(#{$font_size_h2} * #{$line_height_multiplier});
    letter-spacing: 0.25px;
}

.fs_h3 {
    font-size: $font_size_h3;
    line-height: calc(#{$font_size_h3} * #{$line_height_multiplier});
    letter-spacing: 0.25px;
}

.fs_h4 {
    font-size: $font_size_h4;
    line-height: calc(#{$font_size_h4} * #{$line_height_multiplier});
    letter-spacing: 0.25px;
}
.fs_h5 {
    font-size: $font_size_h5;
    line-height: calc(#{$font_size_h5} * #{$line_height_multiplier});
    letter-spacing: 0.15px;
}

.fs_h6 {
    font-size: $font_size_h6;
    line-height: calc(#{$font_size_h6} * #{$line_height_multiplier});
    letter-spacing: 0.15px;
}

.fs_b1 {
    font-size: $font_size_body_1;
    line-height: calc(#{$font_size_body_1} * #{$line_height_multiplier});
    letter-spacing: 0.15px;
}
.fs_b2 {
    font-size: $font_size_body_2;
    line-height: calc(#{$font_size_body_2} * #{$line_height_multiplier});
    letter-spacing: 0.1px;
}

.fs_c,
.fs_o {
    font-size: $font_size_caption;
    line-height: calc(#{$font_size_caption} * #{$line_height_multiplier});
    letter-spacing: 0.2px;
}
